# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
addons/gut                           export-ignore
test                                 export-ignore
.gutconfig.json                      export-ignore
